$def with (response, form)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />

<style type="text/css">
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    vertical-align:middle;
    padding: 5px;
}
th{
  text-align: right;
}
tr{
  padding: 10px;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "/login",
      signOutUrl: "/logout",
    }
  );
</script>

<title>Jobn - Jobn? Jobn!</title>

</head>
<body style="background-color:lavender;">
<div class="containter">
	<div class="row">
		<div class="col-sm-2" style="z-index:255;height:65px;"><div id="navbar" style="vertical-align:middle;"></div></div>
		<div class="col-sm-8"><h1 style="text-align:center;">::Admin Options::</h1></div>
		<div class="col-sm-2"><h3 style="text-align:center;vertical-align:middle;"><a href="dashboard" class="button">Dashboard</a></h3></div>
	</div>
</div>
<div class="containter">
  <div class="row">
    <div class="col-sm-12"><p style="padding:5px;">$:response</p></div>
  </div>
</div>
<div class="containter">
	<div class="row">
		<div class="col-sm-12" style="text-align:center;">
      <form action="" method="post">
        $:form.render()
      </form>
    </div>
	</div>
</div>
</body>
</html>