$def with (title, text)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />

<style type="text/css">

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "/login",
      signOutUrl: "/logout",
    }
  );
</script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/favicon.png">
<title>Jobn - Jobn all over the place!</title>

</head>
<body style="background-color:lavender;">
<div class="container">
	<div class="row">
		<div class="col-sm-2"><img src="/static/logo_small.png" class="img-responsive logo" alt="Jobn"></div>
		<div class="col-sm-8">&nbsp;</div>
		<div class="col-sm-2" style="z-index:255;height:65px;"><div id="navbar" style="vertical-align:middle;"></div></div>
	</div>
	<div class-"row">
		<div class="col-sm-12"><h1 style="text-align:center;">Whoops...</h1></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12"><h1 style="padding:5px;">$title</h1></div>
	</div>
	<div class="row">
		<div class="col-sm-12"><p style="padding:5px;">$:text</p></div>
	</div>
</div>
</body>
</html>
